@import '~bulma/sass/utilities/functions';

// COLORS
$primary: rgb(79, 97, 255);
$secondary: rgb(23, 98, 194);
$secondary-half-opacity: rgba(23, 97, 194, 0.5);
$primary-half-opacity: rgba(99, 161, 247, 0.5);
$primary-min-opacity: rgba(99, 161, 247, 0.2);
$light: rgb(247, 239, 236);
$warning: #f0b619;
$warning-light: findLightColor($warning);
$warning-dark: findDarkColor($warning);
$success: #40cd95;
$success-dark: findDarkColor($success);
$success-light: #b4eed7;
$white: #ffffff;
$dark: #082343;
$grey: rgb(195, 198, 209);
$danger: #c9122b;
$danger-dark: findDarkColor($danger);
$danger-light: #ffd4d4;
$link: rgba(45, 47, 131, 0.7);
$info: #4ca8da;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$main-color: #900604;
$main-color-light: #f2f2f4;
$main-border-color: #eaeefb;
$main-border-dark-color: #d6d6dc;
$main-border-darkness: #b2b2b7;
$dark-blue: rgb(34, 80, 133);
$soil: rgb(121, 118, 111);

// OTHERS
$header-height: 65px;
